@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html {
  scroll-behavior: smooth;
  color: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

section {
  min-height: 100vh;
}

section:nth-of-type(2n+3) {
  background: #fafafa;
}

.section-title {
  position: relative;
  margin-top: 2em;
  font-size: 1.5em;
}
.section-title h2 {
  position: relative;
  z-index: 2;
}
.section-title::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: #FFDB5C;
}

.contain-width {
  max-width: 90em;
  margin: auto;
}

/* Beginning of the Navbar Section */
.navbar {
  padding: 2em 5em;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  transition: all 350ms ease-in-out;
}
.navbar .contain-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.navbar .logo a {
  color: white;
}
.navbar .logo span {
  color: #F6B21B;
}
.navbar .navbar-menu ul {
  list-style-type: none;
}
.navbar .navbar-menu ul li {
  position: relative;
  float: left;
  margin-left: 1.4em;
  font-size: 1.4em;
}
.navbar .navbar-menu ul li::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 25%;
  background: inherit;
  transition: all 350ms ease-in-out;
  transform: scaleX(0);
}
.navbar .navbar-menu ul li:hover::after {
  background: #F6B21B;
  transform: scaleX(1);
}
.navbar .navbar-menu ul li a {
  color: white;
  font-weight: 300;
}

.scrolled {
  padding: 1em 5em;
  background-color: #ffffff;
  z-index: 99999;
  transition: all 350ms ease-in-out;
  box-shadow: 0px 1px 50px 10px rgba(0, 0, 0, 0.05);
}
.scrolled .logo a {
  color: #161616;
}
.scrolled .logo span {
  color: #161616;
}
.scrolled .navbar-menu ul li a {
  color: #161616;
}

/* Beginning of the Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  background: url("../assets/hero_portfolio.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 4em;
  justify-content: center;
  height: 100vh;
  max-height: 800px;
}
.hero .hero-text {
  width: 80%;
  color: white;
}
.hero .hero-text * {
  margin-bottom: 0.4em;
}
.hero .hero-text .hero-pre-title {
  font-weight: 300;
  font-size: 1.75em;
}
.hero .hero-text .hero-title {
  font-size: 2.75em;
}
.hero .hero-text .hero-description {
  align-items: center;
  font-weight: 500;
  font-size: 2.75em;
}
.hero .hero-text .hero-description p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.hero .hero-text .hero-description b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.hero .hero-text .hero-description .inner-text-box {
  color: #F6B21B;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  /*animation*/
  -webkit-animation: move 10s;
  -moz-animation: move 10s;
  -ms-animation: move 10s;
  -o-animation: move 10s;
  animation: move 10s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.hero button {
  margin-top: 1.25em;
  width: 12em;
  padding: 0.75em 0.75em;
  border-radius: 2em;
  border: none;
  font-size: 1.4em;
  font-weight: 700;
  box-shadow: 0 10px 60px 20px rgba(255, 255, 255, 0.1);
  background-color: #F6B21B;
  cursor: pointer;
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  10% {
    top: -50px;
  }
  20% {
    top: -100px;
  }
  30% {
    top: -150px;
  }
  40% {
    top: -200px;
  }
  50% {
    top: -250px;
  }
  60% {
    top: -300px;
  }
  70% {
    top: -350px;
  }
  80% {
    top: -400px;
  }
  90% {
    top: -450px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  10% {
    top: -70px;
  }
  20% {
    top: -140px;
  }
  30% {
    top: -210px;
  }
  40% {
    top: -280px;
  }
  50% {
    top: -350px;
  }
  60% {
    top: -420px;
  }
  70% {
    top: -490px;
  }
  80% {
    top: -560px;
  }
  90% {
    top: -630px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  10% {
    top: -50px;
  }
  20% {
    top: -100px;
  }
  30% {
    top: -150px;
  }
  40% {
    top: -200px;
  }
  50% {
    top: -250px;
  }
  60% {
    top: -300px;
  }
  70% {
    top: -350px;
  }
  80% {
    top: -400px;
  }
  90% {
    top: -450px;
  }
}
.active-menu-link {
  color: #F6B21B !important;
  transition: all 350ms ease-in-out !important;
}

/* Beginning of the About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}
.about .section-title::before {
  content: "About Me";
  position: absolute;
  font-size: 10em;
  line-height: 0.75em;
  color: #f4f4f8;
  opacity: 0.75;
  z-index: -1;
  top: -200%;
  left: -40vw;
}
.about .section-subtitle {
  position: relative;
  margin-top: 0.75em;
  font-size: 1em;
  font-style: italic;
}
.about .section-subtitle::before {
  content: url(../assets/quot.png);
  height: 20px;
  font-size: 20px;
  position: absolute;
  left: -2.25em;
  top: -0.75em;
  transform: rotateZ(15deg) scale(0.35);
}
.about .section-subtitle::after {
  content: url(../assets/quot.png);
  height: 20px;
  font-size: 20px;
  position: absolute;
  top: 0.65em;
  right: -2.35em;
  transform: rotateZ(190deg) scale(0.35);
}
.about .section-subtitle span {
  float: right;
  margin-top: 1em;
  font-weight: 500;
  margin-right: 0.75em;
}
.about .main-content {
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about .main-content .text {
  font-family: "Poppins", sans-serif;
  width: 50%;
  font-size: 1em;
  text-align: justify;
  line-height: 1.5;
}
.about .main-content .text h2 {
  position: relative;
  margin: 0;
}
.about .main-content .text p {
  margin-top: 0.5em;
  font-size: 1.25em;
}
.about .main-content .text button {
  margin-top: 1.25em;
  padding: 0.75em 1.75em;
  border-radius: 5px;
  border: 4px solid #F6B21B;
  font-size: 1.2em;
  font-weight: 700;
  box-shadow: 0 10px 60px 20px rgba(255, 255, 255, 0.1);
  background-color: #F6B21B;
  color: #161616;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.about .main-content .text button:hover {
  background-color: transparent;
  color: #F6B21B;
}
.about .main-content .about-me-img {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 100ms ease-out;
}
.about .main-content .about-me-img img {
  position: relative;
  width: 90%;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateZ(5deg);
}
.about .main-content .about-me-img .card-icons {
  position: absolute;
  display: flex;
  color: white;
  transform: translateZ(60px) translate(5px, 130px) rotateZ(-2deg);
}
.about .main-content .about-me-img .card-icons i {
  font-size: 3.75em;
  padding: 0 10px;
  transition: color 350ms ease-in-out;
  cursor: pointer;
}
.about .main-content .about-me-img .card-icons i:hover {
  color: #F6B21B;
}
.about .main-content .about-me-img .card-icons a {
  color: white;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}

/*# sourceMappingURL=style.css.map */
